<extend name="Layout:member_base"/>
<block name="css">
	<style type="text/css">
		.error-msg{
			color:red;
			margin-left: 8px;
		}
	</style>
</block>
<block name="main">
	<!-- 登录主体部分start -->
	<div class="login w990 bc mt10 regist">
		<div class="login_hd">
			<h2>用户注册</h2>
			<b></b>
		</div>
		<div class="login_bd">
			<div class="login_form fl">
				<form action="{:U()}" method="post" id="reg">
					<ul>
						<li>
							<label for="">用户名：</label>
							<input type="text" class="txt" name="username" /><span class="error-msg"></span>
							<p>3-20位字符，可由中文、字母、数字和下划线组成</p>
						</li>
						<li>
							<label for="">密码：</label>
							<input type="password" class="txt" name="password" id="password"/><span class="error-msg"></span>
							<p>6-20位字符，可使用字母、数字和符号的组合，不建议使用纯数字、纯字母、纯符号</p>
						</li>
						<li>
							<label for="">确认密码：</label>
							<input type="password" class="txt" name="repassword" /><span class="error-msg"></span>
							<p> <span>请再次输入密码</p>
						</li>
						<li>
							<label for="">邮箱：</label>
							<input type="text" class="txt" name="email" /><span class="error-msg"></span>
							<p>邮箱必须合法</p>
						</li>
						<li>
							<label for="">手机号码：</label>
							<input type="text" class="txt" value="" name="tel" id="tel" placeholder=""/><span class="error-msg"></span>
						</li>
						<li>
							<label for="">验证码：</label>
							<input type="text" class="txt" value="" placeholder="请输入短信验证码" name="captcha" disabled="disabled" id="captcha"/> <input type="button" onclick="bindPhoneNum(this)" id="get_captcha" value="获取验证码" style="height: 25px;padding:3px 8px"/><span class="error-msg"></span>

						</li>
						<li class="checkcode">
							<label for="">验证码：</label>
							<input type="text"  name="checkcode" />
							<img id="checkcode" src="{:U('Captcha/show',['nocache'=>NOW_TIME])}" title="点击换图" alt="点击换图" onclick='changeCaptcha(this)'/><span class="error-msg"></span>
						</li>

						<li>
							<label for="">&nbsp;</label>
							<input type="checkbox" name="agree" class="chb" checked="checked" /> 我已阅读并同意《用户注册协议》<span class="error-msg"></span>
						</li>
						<li>
							<label for="">&nbsp;</label>
							<input type="submit" value="" class="login_btn" />
						</li>
					</ul>
				</form>


			</div>

			<div class="mobile fl">
				<h3>手机快速注册</h3>
				<p>中国大陆手机用户，编辑短信 “<strong>XX</strong>”发送到：</p>
				<p><strong>1069099988</strong></p>
			</div>

		</div>
	</div>
	<!-- 登录主体部分end -->
</block>
<block name="js">
	<script type="text/javascript" src="__VALIDATE__/jquery.validate.min.js"></script>
	<script type="text/javascript" src="__LAYER__/layer.js"></script>
	<script type="text/javascript">
		function changeCaptcha(ele){
			var url = '{:U("Captcha/show")}?nocache' + new Date().getTime();
			ele.src = url;
		}
		function bindPhoneNum() {
			//启用输入框
			var tel = $('#tel').val();
			layer.open({
				type: 1,
				skin: 'layui-layer-rim', //加上边框
				area: ['420px', '240px'], //宽高
				content: "<form action='{:U('layer',['tel'=>tel])}' method='post'><ul><li class='checkcode'> <label>验证码：</label> <input type='text'  name='checkcode' /> <img id='checkcode' src='{:U('Captcha/show',['nocache'=>NOW_TIME])}' title='点击换图' alt='点击换图' onclick='changeCaptcha(this)'/><span class='error-msg'></span> </li><li> <label>&nbsp;</label> <input type='submit' value='确定'/> </li></ul></form>"
			});
			$('#captcha').prop('disabled', false);
			//发送验证码
			var url = '{:U("sms")}';
			var data = {tel: $('#tel').val()};
			$.getJSON(url, data, function(data) {
				console.debug(data);
			});

			var time = 60;
			var interval = setInterval(function() {
				time--;
				if (time <= 0) {
					clearInterval(interval);
					var html = '获取验证码';
					$('#get_captcha').prop('disabled', false);
				} else {
					var html = time + ' 秒后再次获取';
					$('#get_captcha').prop('disabled', true);
				}

				$('#get_captcha').val(html);
			}, 1000);
		}
		$('#reg').validate({
			rules: {
				username: {
					required: true,
					rangelength: [3, 20],
					remote: '{:U("checkByParam")}',
				},
				password: {
					required: true,
					rangelength: [6, 20],
				},
				repassword: {
					required: true,
					equalTo: '#password',
				},
				email: {
					required: true,
					email: true,
					remote: '{:U("checkByParam")}',
				},
				tel: {
					required: true,
					check_china_telephone:true,
					remote: '{:U("checkByParam")}',
				},
				captcha: "required",
				checkcode: "required",
				agree: "required",
			},
			messages: {
				username: {
					required: "用户名必填",
					rangelength: "用户名长度应是3-20位",
					remote: "用户名已存在",
				},
				password: {
					required: "密码必填",
					rangelength: "密码长度应是6-20位",
				},
				repassword: {
					required: "确认密码必填",
					equalTo: "两次密码不一致",
				},
				email: {
					required: "邮箱不能为空",
					email: "邮箱不合法",
					remote: "邮箱已被注册",
				},
				tel: {
					required: "手机号码不能为空",
					remote: "手机号码已被注册",
				},
				captcha: "短信验证码不能为空",
				checkcode: "图片验证码不能为空",
				agree: "必须同意许可协议",
			},
			errorPlacement: function(error, ele) {
				//获取错误信息,错误信息放在error中的innerHTML
				var msg = error[0].innerHTML;
				//找到错误控件后面的节点
				var node = $(ele).siblings('.error-msg');
				node.html(msg)
			},
			success: function() {
			},
		});

		$.validator.addMethod("check_china_telephone", function(tel) {
			return /^1[34578]\d{9}$/.test(tel);
		}, "手机号码不符合规范");
	</script>
</block>
