<extend name="Layout:index_show"/>
<block name="css">
	<link rel="stylesheet" href="__CSS__/home.css" type="text/css">
	<link rel="stylesheet" href="__CSS__/address.css" type="text/css">
</block>
	<!-- 头部 end-->
<block name="main">
	<div style="clear:both;"></div>

	<!-- 页面主体 start -->
	<div class="main w1210 bc mt10">
		<div class="crumb w1210">
			<h2><strong>我的XX </strong><span>> 我的订单</span></h2>
		</div>
		
		<!-- 左侧导航菜单 start -->
		<div class="menu fl">
			<h3>我的XX</h3>
			<div class="menu_wrap">
				<dl>
					<dt>订单中心 <b></b></dt>
					<dd><b>.</b><a href="">我的订单</a></dd>
					<dd><b>.</b><a href="">我的关注</a></dd>
					<dd><b>.</b><a href="">浏览历史</a></dd>
					<dd><b>.</b><a href="">我的团购</a></dd>
				</dl>

				<dl>
					<dt>账户中心 <b></b></dt>
					<dd class="cur"><b>.</b><a href="">账户信息</a></dd>
					<dd><b>.</b><a href="">账户余额</a></dd>
					<dd><b>.</b><a href="">消费记录</a></dd>
					<dd><b>.</b><a href="">我的积分</a></dd>
					<dd><b>.</b><a href="">收货地址</a></dd>
				</dl>

				<dl>
					<dt>订单中心 <b></b></dt>
					<dd><b>.</b><a href="">返修/退换货</a></dd>
					<dd><b>.</b><a href="">取消订单记录</a></dd>
					<dd><b>.</b><a href="">我的投诉</a></dd>
				</dl>
			</div>
		</div>
		<!-- 左侧导航菜单 end -->

		<!-- 右侧内容区域 start -->
		<div class="content fl ml10">
			<div class="address_hd">
				<h3>收货地址薄</h3>
				<foreach name='addresses' item='address'>
					<dl>
						<dt>{$key+1}.{$address.name} {$address.province_name} {$address.city_name} {$address.area_name} {$address.detail_address} {$address.tel} </dt>
						<dd>
							<a href="{:U('addressEdit',['id'=>$address['id']])}">修改</a>
							<a href="{:U('removeAddress',['id'=>$address['id']])}">删除</a>
							<neq name='address.is_default' value='1'>
								<a href="{:U('is_defaultAddress',['id'=>$address['id']])}">设为默认地址</a>
							</neq>
						</dd>
					</dl>
				</foreach>
			</div>

			<div class="address_bd mt10">
				<h4>新增/修改收货地址</h4>
				<form action="{:U('Address/addAddress')}" method="post" name="address_form">
						<ul>
							<li>
								<label for=""><span>*</span>收 货 人：</label>
								<input type="text" name="name" class="txt" />
							</li>
							<li>
								<label for=""><span>*</span>所在地区：</label>
								<input type="hidden" name="province_name" id="province_name"/>
								<select name="province_id" id="province">
									<option value="">请选择</option>
									<foreach name="provinces" item="province">
										<option value="{$province.id}">{$province.name}</option>
									</foreach>
								</select>

								<input type="hidden" name="city_name" id="city_name" />
								<select name="city_id" id="city">
									<option value="">请选择</option>
								</select>

								<input type="hidden" name="area_name" id="area_name"/>
								<select name="area_id" id="area">
									<option value="">请选择</option>
								</select>
							</li>
							<li>
								<label for=""><span>*</span>详细地址：</label>
								<input type="text" name="detail_address" class="txt address"  />
							</li>
							<li>
								<label for=""><span>*</span>手机号码：</label>
								<input type="text" name="tel" class="txt" />
							</li>
							<li>
								<label for="">&nbsp;</label>
								<input type="checkbox" name="is_default" class="check" value='1' />设为默认地址
							</li>
							<li>
								<label for="">&nbsp;</label>
								<input type="submit" name="" class="btn" value="保存" />
							</li>
						</ul>
				</form>
			</div>	

		</div>
		<!-- 右侧内容区域 end -->
	</div>
</block>
	<!-- 页面主体 end-->

<block name="js">
	<script type="text/javascript" src="__JS__/home.js"></script>
	<script type="text/javascript">
		$(function() {
			$('#province').change(function() {
				var province_id = $(this).val();
//				console.debug(province_id)
				var url = '{:U("Locations/getListByParentId")}';
				var data = {parent_id: province_id};
				$('#province_name').val($('#province :checked').text());
				$.getJSON(url, data, function(data) {
					//遍历结果集,放入到市级列表中
					//记得将jQuery对象变成DOM节点才能使用length属性
					$('#city').get(0).length = 1;
					$('#area').get(0).length = 1;
					$('#city_name').val('');
					$('#area_name').val('');

					$(data).each(function(i, city) {
						var html = '<option value="' + city.id + '">' + city.name + '</option>';
						$(html).appendTo($('#city'));
					});
				});
			});
			//---------------   切换市级 获取区县   ----------------
			$('#city').change(function() {
				var city_id = $(this).val();
				var url = '{:U("Locations/getListByParentId")}';
				var data = {parent_id: city_id};
				$('#city_name').val($('#city :checked').text());
				$.getJSON(url, data, function(data) {
					//遍历结果集,放入到市级列表中
					$('#area').get(0).length = 1;
					$('#area_name').val('');
					$(data).each(function(i, area) {
						var html = '<option value="' + area.id + '">' + area.name + '</option>';
						$(html).appendTo($('#area'));
					});
				});
			});

			$('#area').change(function() {
				$('#area_name').val($('#area :checked').text());
			});
		});
	</script>
</block>